In [1]:
#Esercizio Il dataset insurance.csv dei beginner_datasets contiene dati su caratteristiche e abitudini delle persone rispetto ai costi individuali per 
#le cure mediche come premio per le assicurazioni sulla salute. • Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna; 
#• Quali sono le medie di charges rispetto a region? Ci sono differenze significative? • E rispetto a smoker? E a sex? 
#• Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
import pandas as pd

df = pd.read_csv("insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [2]:
#Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna
print(df.shape)
print(df.head(5))
df.columns

(1338, 7)
   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [22]:
#Quali sono le medie di charges rispetto a region? Ci sono differenze significative?
media_region = df.groupby("region")["charges"].mean()     #Raggruppato per region,selezionato la colonna charges e calcolato la media.
print(media_region)

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [5]:
#E rispetto a smoker? E a sex?
media_smoker = df.groupby("smoker")["charges"].mean()      #Raggruppato per smoker,selezionato la colonna charges e calcolato la media.
media_sex = df.groupby("sex")["charges"].mean()            #Raggruppato per sex,selezionato la colonna charges e calcolato la media.
print(media_smoker, media_sex)

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64 sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [23]:
#Quali sono i descrittori statistici di bmi?
df["bmi"].describe()

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [24]:
#Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
charges_quartili = df.groupby("bmi_quartile")["charges"].agg(["min", "mean", "max"])
print(charges_quartili)

                                    min          mean          max
bmi_quartile
(15.959000000000001, 26.296]  1121.8739  10360.662825  38245.59327
(26.296, 30.4]                1131.5066  11407.831468  62592.87309
(30.4, 34.694]                1135.9407  14358.173081  60021.39897
(34.694, 53.13]               1141.4451  16987.936691  63770.42801

C:\Users\maria\AppData\Local\Temp\ipykernel_15152\764400374.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  charges_quartili = df.groupby("bmi_quartile")["charges"].agg(["min", "mean", "max"])

In [1]:
#Esercizio 
#Carichiamo in un DataFrame il dataset iris.csv dei beginner_datasets e calcoliamo:•La media della lunghezza dei petali di tutto il dataset
#•La media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby() • Media, minimo e massimo della larghezza dei sepali 
#per ogni specie, utilizzando .groupby() e .agg()
import pandas as pd

df = pd.read_csv("iris.csv")
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
#La media della lunghezza dei petali di tutto il dataset.
lunghezza_med_petali = df["petal_length"].mean().round()     
print(lunghezza_med_petali)                                    #Creo la variabile lunghezza_med_petali, seleziono la colonna 'petal_length' e calcolo 
                                                               #la media arrotondata

4.0

In [6]:
#La media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby().
media_ogni_specie = df.groupby("species")["petal_length"].mean()     #Raggruppo il dataset per specie e calcolo la media della lunghezza dei petali 
print(media_ogni_specie)                                             #di ciascun gruppo

species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: petal_length, dtype: float64

In [8]:
#Media, minimo e massimo della larghezza dei sepali per ogni specie, utilizzando .groupby() e .agg().
statistiche_sepali = df.groupby("species")["sepal_width"].agg(['mean', 'min', 'max'])
print(statistiche_sepali)
                                     #Raggruppo il dataset per specie e calcolo la media, il minimo e il massimo della larghezza dei sepali 
                                     #utilizzando .agg()

                  mean  min  max
species
Iris-setosa      3.418  2.3  4.4
Iris-versicolor  2.770  2.0  3.4
Iris-virginica   2.974  2.2  3.8

In [1]:
#Esercizio
#Nei beginner_datasets, il dataset wine.csv contiene delle analisi organolettiche su diverse qualità di vini:
#• Qual è la media di concentrazione alcolica per ogni qualità? Ci sono differenze? E rispetto alla media totale? 
#• C'è differenza nella concentrazione alcolica per vini bianchi e vini rossi? 
#• Rifacendo le analisi dei due punti precedenti ma per il pH, cambia qualcosa? • E per i solfati?
import pandas as pd

df = pd.read_csv("wine.csv")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [10]:
# Qual è la media di concentrazione alcolica per ogni qualità? Ci sono differenze? E rispetto alla media totale? 
media_alcol_per_qualita = df.groupby("quality")["alcohol"].mean()        #Calcolo la media della concentrazione alcolica per ogni qualità di vino e confronto con la media totale
media_totale = df["alcohol"].mean().round() 
print(media_alcol_per_qualita) 
print(media_totale)

quality
3    10.215000
4    10.180093
5     9.837783
6    10.587553
7    11.386006
8    11.678756
9    12.180000
Name: alcohol, dtype: float64
10.0

In [11]:
# C'è differenza nella concentrazione alcolica per vini bianchi e vini rossi? 
diff_alcol_vinib_vinir = df.groupby("type")["alcohol"].mean()             #Calcolo la media della concentrazione alcolica per i vini bianchi e rossi per confrontare eventuali differenze

print(diff_alcol_vinib_vinir)

type
red      10.422983
white    10.514267
Name: alcohol, dtype: float64

In [8]:
# Rifacendo le analisi dei due punti precedenti ma per il pH, cambia qualcosa? 
pH = df.groupby("quality")["pH"].mean() 
print(pH)

quality
3    3.257667
4    3.231620
5    3.212189
6    3.217726
7    3.228072
8    3.223212
9    3.308000
Name: pH, dtype: float64

In [12]:
# E per i solfati?
pH = df.groupby("type")["pH"].mean()                   #Calcolo la media del pH per ogni qualità di vino per confrontare eventuali differenze tra le qualità

print(pH)

type
red      3.311113
white    3.188267
Name: pH, dtype: float64

In [19]:
#Esercizio 1/3
#Nei beginner_datasets, il file boston.csv contiene il Boston Housing Dataset, che deriva dalle informazioni raccolte dal Census Service degli Stati
#Uniti sulle abitazioni nell'area di Boston. Di seguito vengono descritte le colonne del dataset:
#• CRIM -tasso di criminalità pro capite per città 
#• ZN - proporzione di terreni residenziali suddivisi in zone per lotti superiori a 25.000 piedi quadrati. 
#• INDUS - percentuale di acri di attività commerciali non al dettaglio per città.
#• CHAS -variabile dummy del fiume Charles (1 se il tratto costeggia il fiume; 0 altrimenti)
#Esercizio 2/3 
#• NOX -concentrazione di ossidi di azoto (parti per 10 milioni). 
#• RM -numero medio di stanze per abitazione 
#• AGE -proporzione di unità abitative occupate da proprietari costruite prima del 1940 
#• DIS - distanze ponderate da cinque centri occupazionali di Boston
#• RAD -indice di accessibilità alle autostrade radiali 
#• TAX -aliquota dell'imposta fondiaria sul valore pieno per 10.000 dollari
#• PTRATIO - rapporto alunni-insegnanti per città
#• BLACK -la percentuale di neri per città 
#• LSTAT - % di popolazione di condizione più bassa
#Esercizio 3/3 
#• La media del prezzo delle case cambia a seconda della distanza dal fiume Charles? 
#• Si nota una correlazione tra il tasso di criminalità e il valore delle abitazioni? Come si può spiegare il risultato? 
#• Qual è la media del numero di stanze rispetto al rapporto alunni-insegnanti? E del valore delle case? Appare esserci una qualche correlazione?
#Come si può spiegare il risultato? 
#• Rispetto all'accessibilità alle autostrade, cambia qualcosa la media delle età delle abitazioni? E del numero di stanze? E delle tasse?
import pandas as pd

df = pd.read_csv("boston.csv")
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  black    506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [18]:
#CHAS -variabile dummy del fiume Charles (1 se il tratto costeggia il fiume; 0 altrimenti)
media_case_fiume = df.groupby("chas")["medv"].mean()   #Confronto il valore medio delle case in base al fiume Charles (chas = 0 → non costeggia,
print(media_case_fiume)                                #chas = 1 → costeggia)

chas
0    22.093843
1    28.440000
Name: medv, dtype: float64

In [20]:
#La media del prezzo delle case cambia a seconda della distanza dal fiume Charles? 
media_case_per_fiume = df.groupby("chas")["medv"].mean()      # Confronto la media del prezzo delle case a seconda della vicinanza al fiume Charles
print(media_case_per_fiume)

chas
0    22.093843
1    28.440000
Name: medv, dtype: float64

In [24]:
#Si nota una correlazione tra il tasso di criminalità e il valore delle abitazioni? Come si può spiegare il risultato?
correlazione_crim_medv = df["crim"].corr(df["medv"].round())    #Calcolo la correlazione tra tasso di criminalità e valore delle abitazioni e poi arrotondo 
print(correlazione_crim_medv)                                   #arrotondo il risultato

-0.3890876513811773

In [27]:
#Qual è la media del numero di stanze rispetto al rapporto alunni-insegnanti?     
media_stanze_ptratio = df.groupby("ptratio")["rm"].mean().round(2).reset_index()
media_stanze_ptratio.columns = ["PTRATIO", "Media_RM"]
print(media_stanze_ptratio)                                          #Calcolo la media del numero di stanze in base al rapporto alunni-insegnanti

    PTRATIO  Media_RM
0      12.6      7.22
1      13.0      7.41
2      13.6      7.92
3      14.4      7.88
4      14.7      6.25
5      14.8      6.75
6      14.9      7.31
7      15.1      6.82
8      15.2      6.42
9      15.3      6.71
10     15.5      7.24
11     15.6      6.70
12     15.9      7.00
13     16.0      6.23
14     16.1      6.43
15     16.4      6.14
16     16.6      6.34
17     16.8      6.15
18     16.9      6.02
19     17.0      6.87
20     17.3      6.38
21     17.4      7.21
22     17.6      6.82
23     17.8      6.50
24     17.9      6.13
25     18.0      7.22
26     18.2      6.28
27     18.3      6.52
28     18.4      6.29
29     18.5      6.29
30     18.6      6.11
31     18.7      6.41
32     18.8      5.96
33     18.9      5.79
34     19.0      6.45
35     19.1      6.23
36     19.2      6.05
37     19.6      6.22
38     19.7      6.30
39     20.1      5.59
40     20.2      6.02
41     20.9      6.27
42     21.0      6.04
43     21.1      5.89
44     21.2      6.03
45     22.0      5.80

In [28]:
#del valore delle case? Appare esserci una qualche correlazione? Come si può spiegare il risultato? 
media_valore_ptratio = df.groupby("ptratio")["medv"].mean().round(2).reset_index()
media_valore_ptratio.columns = ["PTRATIO", "Media_MEDV"]
print(media_valore_ptratio)                              #Calcolo la media del valore delle case in base al rapporto alunni-insegnanti

    PTRATIO  Media_MEDV
0      12.6       32.73
1      13.0       38.02
2      13.6       50.00
3      14.4       50.00
4      14.7       25.72
5      14.8       25.43
6      14.9       40.48
7      15.1       31.60
8      15.2       26.28
9      15.3       26.07
10     15.5       32.70
11     15.6       30.10
12     15.9       30.25
13     16.0       24.32
14     16.1       24.88
15     16.4       23.22
16     16.6       23.86
17     16.8       22.15
18     16.9       19.64
19     17.0       30.60
20     17.3       24.70
21     17.4       33.54
22     17.6       30.70
23     17.8       26.96
24     17.9       22.36
25     18.0       33.10
26     18.2       22.15
27     18.3       27.10
28     18.4       23.13
29     18.5       23.80
30     18.6       24.34
31     18.7       25.12
32     18.8       17.35
33     18.9       20.10
34     19.0       24.90
35     19.1       22.89
36     19.2       22.81
37     19.6       22.58
38     19.7       21.79
39     20.1       12.80
40     20.2       16.61
41     20.9       21.12
42     21.0       17.35
43     21.1       18.90
44     21.2       17.09
45     22.0       19.40

In [30]:
#Rispetto all'accessibilità alle autostrade, cambia qualcosa la media delle età delle abitazioni? E del numero di stanze? E delle tasse?
media_autostrade = df.groupby("rad")[["age", "rm", "tax"]].mean().round(2).reset_index()
print(media_autostrade)                   #Analisi dell'influenza dell'accessibilità alle autostrade (RAD) su età delle abitazioni(age), 
                                          #numero di stanze(rm) e tasse (tax).

   rad    age    rm     tax
0    1  45.02  6.56  291.45
1    2  64.77  6.65  260.67
2    3  49.31  6.47  246.08
3    4  60.84  6.13  335.98
4    5  69.22  6.39  331.84
5    6  60.14  6.10  372.88
6    7  40.14  6.65  304.41
7    8  67.35  6.95  301.25
8   24  89.81  6.02  666.00

In [48]:
#Esercizio 1/3
#Abbiamo un DataFrame di dipendenti: employees_df = pd.DataFrame({ 'employee_id': [101, 102, 103, 104, 105], 
#'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
#'department_id': [1, 2, 1, 2, 3] })
#Esercizio 2/3 
#E un DataFrame di dipartimenti: departments_df = pd.DataFrame({ 'department_id': [1, 2, 3],
#'department_name': ['HR', 'IT', 'Finance'], 'location': ['New York', 'San Francisco', 'Chicago'] })
#Esercizio 3/3
#• Unire questi DataFrame in base alla colonna comune department_id, in modo da avere nel risultato informazioni sia sui dipendenti 
#che sui dipartimenti, usando la funzione  • Per ogni DataFrame, trasformare la colonna department_id nell'indice,
#facendo in modo che la modifica sia permanente; poi unire i due dataset mediante il metodo .join() 
#• Ci sono differenze nel risultato? Quali? Perché?

import pandas as pd

employees_df = pd.DataFrame({
    'employee_id': [101, 102, 103, 104, 105],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'department_id': [1, 2, 1, 2, 3]
})

departments_df = pd.DataFrame({
    'department_id': [1, 2, 3],
    'department_name': ['HR', 'IT', 'Finance'],
    'location': ['New York', 'San Francisco', 'Chicago']
})

#.merge()
employees_departments_merge = employees_df.merge(departments_df, on="department_id")
print(employees_departments_merge)

   employee_id     name  department_id department_name       location
0          101    Alice              1              HR       New York
1          102      Bob              2              IT  San Francisco
2          103  Charlie              1              HR       New York
3          104    David              2              IT  San Francisco
4          105     Emma              3         Finance        Chicago

In [49]:
#trasformare la colonna department_id nell'indice facendo in modo che la modifica sia permanente
employees_df.set_index("department_id", inplace=True)     
departments_df.set_index("department_id", inplace=True)

In [50]:
employees_departments_joined = employees_df.join(departments_df)
print(employees_departments_joined)

               employee_id     name department_name       location
department_id
1                      101    Alice              HR       New York
2                      102      Bob              IT  San Francisco
1                      103  Charlie              HR       New York
2                      104    David              IT  San Francisco
3                      105     Emma         Finance        Chicago